.DS_Store
__pycache__/
*.py[cod]
*.egg-info/
build/
cache/
chroot/
binary/
.build/
config/packages.chroot/*.deb
config/includes.chroot/etc/apt/keyrings/winehq-archive.key
config/binary
config/bootstrap
config/chroot
config/common
config/source
cartheon-os-amd64.iso
cartheon-os-amd64.iso.sha256
live-image-*.iso
